<div
  style="
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
  "
>
  <h2 style="color: #292929; font-size: 22px">
    ¡Gracias por tu Pre-Venta, {customer_name}!
  </h2>

  <p style="font-size: 16px; margin-bottom: 20px">
    Has asegurado tu acceso a nuestro próximo lanzamiento y estamos muy emocionados
    de tenerte a bordo.
  </p>

  <p style="font-size: 16px; margin-bottom: 20px">
    <strong>¿Cuáles son los siguientes pasos?</strong>
  </p>

  <p style="font-size: 16px; margin-bottom: 20px">
    Te notificaremos por este mismo medio tan pronto como el producto esté
    disponible para que puedas acceder a él de inmediato. ¡Mantente atento/a a
    nuestras comunicaciones!
  </p>

  <p style="font-size: 16px; margin-bottom: 20px">
    Gracias de nuevo por tu confianza.
  </p>

  <p style="font-size: 16px">El equipo de WhydotCo</p>
</div>